@model Shopping.Models.DTO.LoginModel
@{

}

<!-- Login popup modal -->
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">

                <div class="col col-xl-10">
                    <div class="card" style="border-radius: 1rem;">
                        <div class="row g-0">
                            <div class="col-md-6 col-lg-5 d-none d-md-block">
                                <img src="~/images/login_modal.jpg" alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem; " />
                            </div>
                            <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                <div class="card-body p-4 p-lg-5 text-black">

                                    <form id="LoginForm_Popup">
                                        <input type="hidden" name="loginScenario" value="@Shopping.Enums.LoginScenario.PopupLogin">

                                        <div class="d-flex align-items-center mb-3 pb-1">
                                            <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                                            <span class="h1 fw-bold mb-0" style="margin-left: -44px">
                                                <span class="h1 fw-bold mb-0">
                                                    <img class="manImg" src="~/images/logo_3.png" hight="200px" width="300px"></img>
                                                </span>
                                        </div>

                                        <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>

                                        <div class="form-outline mb-4">
                                            <input type="text" id="username" asp-for="Username" class="form-control form-control-lg">
                                            <label class="form-label" for="form2Example17">User Name</label>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <input type="password" name="password" value="" id="password1" asp-for="Password" class="form-control form-control-lg">
                                            <label class="form-label" for="form2Example27">Password</label>
                                            <div class="form-outline"><i class="fa fa-eye-slash" style="font-size: 20px;" id="eye-toggle"></i></div>
                                        </div>

                                        <span id="userError" class="fw-normal mb-3 pb-3 text-danger" style="letter-spacing: 0.5px;"></span>

                                        <div class="form-outline mb-4">
                                            <input id="loginBtn" class="btn btn-dark btn-lg btn-block" type="submit" />
                                        </div>

                                        <span id="loginErrorMessage" class="text-danger"></span>

                                        <a class="small text-muted" href="#!">Forgot password?</a>
                                        <br />
                                        <span class="mb-5 pb-lg-2" style="color: #393f81;">
                                            Don't have an account? <a href="~/Account/Register"
                                                                      style="color: #393f81;">Register here</a>
                                        </span>

                                        <!--Google-->
                                        <div class="login-separator">
                                            <hr>
                                            <span>or</span>
                                            <hr>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <a class="btn btn-lg btn-google btn-block text-uppercase btn-outline" href="/Account/GoogleLogin"><img src="/images/google_logo.png" height="11%" width="11%"> Signin Using Google</a>

                                            </div>
                                        </div>
                                        <br>

                                        <a href="#!" class="small text-muted">Terms of use.</a>
                                        <a href="#!" class="small text-muted">Privacy policy</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>