@inject Shopping.Repositories.Infrastructure.IMenuService _menuService;

@{
    //bool a = User.Claims.Any(c => c.Type == "role" && c.Value == "Admin"); 
    //bool a = User.Claims.Any(c => c.Type == ClaimTypes.Role && c.Value == "Admin");
    bool a = User.Claims.Any(c => c.Type == "http://schemas.microsoft.com/ws/2008/06/identity/claims/role" && c.Value == "Admin");
}


<ul class="menu1">
    <li>
        <a href="~/Home/Index" class="active" style="box-sizing: content-box !important;">Home<span>&nbsp;</span></a>
    </li>

    @foreach (var menu in _menuService.GetAllMenu())
    {
        if (menu.ParentItemId == 0)
        {
            <li>
                <a href="#">@menu.Name</a>
                <div class="megamenu" style=" padding: 20px 10px 10px; box-sizing: content-box !important">
                    @foreach (var submenu in _menuService.GetAllMenu())
                    {
                        if (submenu.ParentItemId == menu.Id)
                        {
                            <h4>@submenu.Name</h4>
                            <ul class="sub-menu">
                                @foreach (var childsubmenu in _menuService.GetAllMenu())
                                {
                                    if (childsubmenu.ParentItemId == submenu.Id)
                                    {
                                        <li>
                                            <a href="@Url.Action("Index", "Product", new{categoryId= childsubmenu.Id, currentPage = 1})">@childsubmenu.Name</a>
                                        </li>
                                    }
                                }
                            </ul>
                        }
                    }
                </div>
            </li>
        }
    }
    <li><a href="~/Details/IndexDetails">About Us</a></li>
    <li><a href="/Contact/IndexContact">Contact</a></li>
    @if (User.Claims.Any(c => c.Type == "http://schemas.microsoft.com/ws/2008/06/identity/claims/role" && c.Value == "Admin"))
    {
        <li>
            <a class="btn  btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Admin
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/Admin/AttributeMaster">Add Master Attribute</a>
                <a class="dropdown-item" href="#">Orders</a>
                <a class="dropdown-item" href="#">Returns</a>
                <a class="dropdown-item" href="#">Payments</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/Account/Logout">Logout</a>
            </div>
        </li>            
    }
    else
    {
        @if(!string.IsNullOrEmpty(User.Identity.Name))
        {
            <li><a href="/Account/Logout">Logout</a></li>
        }      
    }
</ul>

@*<div class="wrapcart">
        <a href="#" class="cartstatus">$12.90</a>
        <div class="cartdrop">
            <ul>
                <li>
                    <a href="#"><img src="~/images/incart.png" class="inp" alt="" /></a>
                    <span class="ininfo">
                        <span class="intitle"><a href="#">Casio Exilim Zoom</a></span>
                        <span class="inquantity">x 1</span>
                        <span class="inprice">138.80$</span>
                        <span class="inremove"><img src="~/images/remove.png" alt="remove" /></span>
                    </span>
                    <span class="ininfo2">
                        Color: green
                    </span>
                </li>
                <li>
                    <a href="#"><img src="~/images/incart.png" class="inp" alt="" /></a>
                    <span class="ininfo">
                        <span class="intitle"><a href="#">Casio Exilim Zoom</a></span>
                        <span class="inquantity">x 1</span>
                        <span class="inprice">138.80$</span>
                        <span class="inremove"><img src="~/images/remove.png" alt="remove" /></span>
                    </span>
                    <span class="ininfo2">
                        Color: green
                    </span>
                </li>
                <li class="pricedet">
                    <span class="pricesub">
                        Sub-Total : <span class="darker">$277.60</span>  |  Vat (17.5%) : <span class="darker">$36.00 </span>
                    </span>
                    <a href="~/Cart/IndexCart" class="mailsubmit">More</a>
                    <a href="~/Checkout/IndexCheckout" class="mailsubmit">Checkout</a>
                    <span class="whiteprice"><span class="totalno">Total</span> <span class="final">$313.60</span></span>
                </li>
            </ul>
        </div>
    </div>*@