@inject Shopping.Repositories.Infrastructure.IMenuService _menuService;

@{
    //bool a = User.Claims.Any(c => c.Type == "role" && c.Value == "Admin");
    //bool a = User.Claims.Any(c => c.Type == ClaimTypes.Role && c.Value == "Admin");
    bool a = User.Claims.Any(c => c.Type == "http://schemas.microsoft.com/ws/2008/06/identity/claims/role" && c.Value == "Admin");
}


<ul class="menu1" style="display:flex; justify-content:space-between;">
    <div>
    <li>
        <a href="~/Home/Index" class="active" style="box-sizing: content-box !important;">Home<span>&nbsp;</span></a>
    </li>

        @foreach (var menu in _menuService.GetAllMenu())
        {
            if (menu.ParentItemId == 0)
            {
            <li>
                <a href="#">@menu.Name</a>
                <div class="megamenu" style=" padding: 20px 10px 10px; box-sizing: content-box !important">
                        @foreach (var submenu in _menuService.GetAllMenu())
                        {
                            if (submenu.ParentItemId == menu.Id)
                            {
                            <h4>@submenu.Name</h4>
                            <ul class="sub-menu">
                                    @foreach (var childsubmenu in _menuService.GetAllMenu())
                                    {
                                        if (childsubmenu.ParentItemId == submenu.Id)
                                        {
                                        <li>
                                            <a href="@Url.Action("Index", "Product", new{categoryId= childsubmenu.Id, currentPage = 1})">@childsubmenu.Name</a>
                                        </li>
                                        }
                                    }
                            </ul>
                            }
                        }
                </div>
            </li>
            }
        }
    <li><a href="~/Details/IndexDetails">About Us</a></li>
    <li><a href="/Contact/IndexContact">Contact</a></li>
        @if (User.Claims.Any(c => c.Type == "http://schemas.microsoft.com/ws/2008/06/identity/claims/role" && c.Value == "Admin"))
        {
        <li>
            <a class="btn  btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Admin
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/Admin/AttributeMaster">Add Product Attribute</a>
                <a class="dropdown-item" href="/Admin/SpecificationAttribute">Add Specification Attribute</a>
                <a class="dropdown-item" href="/Admin/AddNewProduct">Add New Product</a>
                <a class="dropdown-item" href="#">Orders</a>
                <a class="dropdown-item" href="#">Returns</a>
                <a class="dropdown-item" href="#">Payments</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/Account/Logout">Logout</a>
            </div>
        </li>
        }
        else
        {
            @if (!string.IsNullOrEmpty(User.Identity.Name))
            {
            <li><a href="/Account/Logout">Logout</a></li>
            }
        }
    </div>
    <div>
        <li>
        <a class="active" href="/Supplier/Index" style="box-sizing: content-box !important; letter-spacing: 2px; font-family: revert; font-weight:600;">BECOME A SUPPLIER</a>
        </li>
    </div>

</ul>