@model Shopping.Models.DTO.LoginModel
@{

}

<!-- Welcome popup modal -->
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-body">
            <div class="welcome-dialog">
                <div class="infiscroll" id="scrollContainer">
                    <div class="infiscroll-inner" id="scrollContent">
                        <img src="https://media.mutualart.com/ExternalImages/Welcome/onboard/Group_Single.png" alt="">
                        <img src="https://media.mutualart.com/ExternalImages/Welcome/onboard/Group_Single.png" alt="">
                        <img src="https://media.mutualart.com/ExternalImages/Welcome/onboard/Group_Single.png" alt="">
                        <img src="https://media.mutualart.com/ExternalImages/Welcome/onboard/Group_Single.png" alt="">
                        <img src="https://media.mutualart.com/ExternalImages/Welcome/onboard/Group_Single.png" alt="">
                        <img src="https://media.mutualart.com/ExternalImages/Welcome/onboard/Group_Single.png" alt="">
                        <img src="https://media.mutualart.com/ExternalImages/Welcome/onboard/Group_Single.png" alt="">
                    </div>
                </div>
                <h2>My Shopping</h2>
                <p>
                    Start exploring our website and discover a world of amazing products.
                </p>
            </div>
        </div>
    </div>
</div>