
*.vsidx
/.vs/ProjectEvaluation/shopping.metadata.v5.2
/.gitignore
/.vs/ProjectEvaluation/shopping.metadata.v5.2
/.vs/ProjectEvaluation/shopping.metadata.v5.2
/.vs/ProjectEvaluation/shopping.metadata.v5.2
/.vs/ProjectEvaluation/shopping.metadata.v5.2
/.vs/ProjectEvaluation/shopping.metadata.v5.2
/.vs/ProjectEvaluation/shopping.projects.v5.2
/.vs/Shopping/FileContentIndex/7e6d98e7-f215-4726-9587-acb230e071f9.vsidx
/.vs/ProjectEvaluation/shopping.metadata.v5.2
/.vs/Shopping/FileContentIndex/7e6d98e7-f215-4726-9587-acb230e071f9.vsidx
/Shopping/bin/Debug/net6.0/Shopping.dll
/Shopping/obj/Debug/net6.0/Shopping.pdb
/Shopping/obj/Debug/net6.0/Shopping.GeneratedMSBuildEditorConfig.editorconfig
/Shopping/obj/Debug/net6.0/Shopping.dll
/Shopping/obj/Debug/net6.0/ref/Shopping.dll
/Shopping/obj/Debug/net6.0/project.razor.vs.json
/Shopping/bin/Debug/net6.0/Shopping.pdb
/Shopping/bin/Debug/net6.0/Shopping.dll
/.vs/Shopping/v17/fileList.bin
/.vs/Shopping/v17/.suo
/.vs/Shopping/v17/.futdcache.v2
/.vs/Shopping/v17/.suo
/Shopping/bin/Debug/net6.0/Shopping.dll
/Shopping/bin/Debug/net6.0/Shopping.pdb
/Shopping/obj/Debug/net6.0/ref/Shopping.dll
/.gitignore
/.vs/ProjectEvaluation/shopping.metadata.v5.2
/.vs/ProjectEvaluation/shopping.projects.v5.2
/.vs/Shopping/DesignTimeBuild/.dtbcache.v2
/.vs/Shopping/v17/.futdcache.v2
/.vs/Shopping/v17/.suo
/.vs/Shopping/v17/.suo.swp
