/*-------------------------------------------------------------------------------------------------------------------------------|
|                                                     AddNewProduct.cshtml                                                       |
|<------------------------------------------------------------------------------------------------------------------------------*/


.custom-card-container {
    margin: 50px 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
    margin-bottom: 1rem;
    border-top: 3px solid #007bff;
}

.custom-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: aliceblue;
    position: relative;
    border: 0 solid rgba(0,0,0,.125);
    padding: 0.75rem 1.25rem;
    font-size: 18px;
}

.img-add-new {
    cursor: pointer;
    height: 29px;
    margin-left: 10px;
}

.img-copy, .img-save, .img-delete {
    cursor: pointer;
    height: 29px;
}

.btn-openclose-card:focus {
    box-shadow: none;
}

.varients-outer {
    padding: 20px 20px 0px 20px;
}

.varients-inner, .images-inner {
    border-bottom: 1px solid grey;
}

    .varients-inner:last-child {
        border-bottom: none; /* Remove the border from the last element */
    }

.images-outer {
    padding: 20px;
}

.img-upload-show {
    display: flex;
    align-items: center;
}

.sideimg-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    max-width: 370px;
    margin-left: 20px;
}

.custom-card-container .tags-card-body {
    padding: 20px 20px 10px 20px;
}

#skuDiv .description {
    font-size: 16px;
    padding: 20px 20px 0px 20px;
}

.dropdown__menu_items::-webkit-scrollbar {
    width: 7px;
}

.dropdown__menu_items::-webkit-scrollbar-track {
    background-color: lightgray;
}

.dropdown__menu_items::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}

    .dropdown__menu_items::-webkit-scrollbar-thumb:hover {
        background: #b30000;
    }

/*-------------------------------------------------------------------------------------------------------------------------------|
|                                         AttributeMaster.cshtml & SpecificationAttribute.cshtml                                 |
|<------------------------------------------------------------------------------------------------------------------------------*/
::selection {
    background: #5372F0;
}

.padding25 span {
    display: contents;
}

#result-toast {
    margin-top: 10px !important;
    background-color: #41ec34;
    color: black;
    font-weight: 500;
}

#ddlComponentType {
    float: none;
    margin-bottom: 5px;
}

#tInputsDiv #tagList {
    padding: 0;
}