/*-------------------------------------------------------------------------------------------------------------------------------|
|                                                     AddNewProduct.cshtml                                                       |
|<------------------------------------------------------------------------------------------------------------------------------*/

.shiztitle2 {
    width: 100%;
    background: url(/images/shizzle2.png) repeat-x 0 36px;
    height: 80px;
}

.varient-detail .varients-outer,
.varient-images .images-outer {
    padding: 4px;
    background: rgb(0 0 0 / 4%);
    margin: 0 0 45px 0;
}

    .varient-detail .varients-outer:last-child {
        margin-bottom: 0;
    }

.varient-detail .varients-inner,
.varient-images .images-inner {
    /* border: 1.3px dashed#949090;*/
    border-radius: 2px;
    padding: 10px 0px 0px 10px;
}

.varient-detail .shiztitle2 img,
.varient-images .shiztitle2 img {
    height: 43%;
    margin-top: 25px;
    cursor: pointer;
    background: url(/images/h2bg.png) repeat;
    /*padding-right: 10px;*/
}

    .varient-detail .shiztitle2 img:nth-last-child(-n+2) {
        cursor: not-allowed;
    }
    .varient-images .shiztitle2 img:last-child {
        cursor: not-allowed;
    }

    .varient-detail .shiztitle2 img:last-child,
    .varient-images .shiztitle2 img:last-child {
        border-radius: 17px;
        padding: 0;
    }

.img-upload-show {
    display: flex;
    align-items: center;
}

.sideimg-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    max-width: 370px;
    margin-left: 20px;
}

.grid-8{
    width: 460px;
}

.dropdown__selected {
    border: none;
    height: 30px;
    background: #FFF;
    border-radius: 5px;
    border-bottom: 1px solid #C2CBD2;
    border-right: 1px solid #C2CBD2;
    color: #b7b7b7;
    font-size: 12px;
    text-indent: 10px;
    margin-bottom: 20px;
    float: left;
    margin-right: 10px;
    width: 211px;
}

.varient-detail #btn-save-varient {
    border: none;
    height: 28px;
    border-radius: 5px;
    border-bottom: 1px solid #C2CBD2;
    border-right: 1px solid #C2CBD2;
    font-size: 12px;
    margin-bottom: 20px;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    background: #696969;
    color: white;
    padding: 2px 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.varient-detail span{
    display: block !important;
    margin: 10px 0px;
}
/*-------------------------------------------------------------------------------------------------------------------------------|
|                                         AttributeMaster.cshtml & SpecificationAttribute.cshtml                                 |
|<------------------------------------------------------------------------------------------------------------------------------*/
::selection {
    background: #5372F0;
}

.padding25 span {
    display: contents;
}

.toast {
    margin-left: 25px;
    margin-top: 150px;
    background-color: #41ec34;
    color: black;
    font-weight: 500;
}

#ddlComponentType {
    float: none;
    margin-bottom: 5px;
}