<div class="container_16 padding50">
    <div class="grid_16">
        <div class="ribbonbig">
            <div class="lijevo">
                <div class="bread"><a href="#">Home</a>&nbsp;&nbsp;&gt;&nbsp;Checkout</div>
                <div class="bigtitle">Checkout</div>
            </div>
            <div class="desno">
                <a href="#" class="padd">Buy theme</a>
            </div>
        </div>
    </div>

    <div class="grid_8">
        <div class="padding25">
            <div class="billing">
                <div class="shiztitle">
                    <h2 class="title h2bg">Personal Details</h2>
                </div>
                <form>
                    <input type="text" class="half req" name="bname" id="bname" value="First Name" />
                    <input type="text" class="half" name="blastname" id="blastname" value="Last Name" />
                    <input type="text" class="full" name="bcompany" id="bcompany" value="E-Mail" />
                    <input type="text" class="half req" name="bcity" id="bcity" value="Telephone" />
                    <input type="text" class="half" name="bzip" id="bzip" value="Fax" />
                </form>
                <div class="shiztitle">
                    <h2 class="title h2bg">Account Details</h2>
                </div>
                <form>
                    <input type="text" class="half req" name="bname" id="bname" value="Username" />
                    <input type="text" class="half" name="blastname" id="blastname" value="Password" />
                    <input type="text" class="half req" name="bzip" id="bzip" value="Password Again" />
                    <div class="clear"></div>
                    <input type="submit" class="mailsubmit" style="float: left;margin-top: 0;" value="Register" />
                </form>

            </div>

        </div>
    </div>
    <div class="grid_8">
        <div class="padding25">

            <div class="billing">
                <div class="shiztitle">
                    <h2 class="title h2bg">Your address</h2>
                </div>
                <form>
                    <input type="text" value="Company" id="bcompany" name="bcompany" class="full">
                    <input type="text" value="Address" id="baddress" name="baddress" class="full">
                    <input type="text" value="City" id="bcity" name="bcity" class="half req">
                    <input type="text" value="Post Code" id="bzip" name="bzip" class="half">
                    <input type="text" value="Country" id="bcountry" name="bcountry" class="half req">
                    <input type="text" value="State" id="bstate" name="bstate" class="half">
                </form>
            </div>

        </div>
    </div>

</div>