@inject Shopping.Repositories.Infrastructure.IMenuService _menuService;

@section Styles{
    <link href="~/css/custom-mvc/admin.css" rel="stylesheet" />
}

<div class="container_16 padding50">

    <div class="grid_16">
        <div class="padding25">
            <div class="billing">
                <form class='form-sku' asp-action="AddNewProduct" asp-controller="Admin" method="post" enctype="multipart/form-data">
                    <div class="shiztitle2">
                        <h2 class="title h2bg">Product Details</h2>
                    </div>
                    <div class="div-h50">
                        <select class="full req" id="" name="CategoryId">
                            <option value="" selected disabled>Sub Category</option>
                            @foreach (var category in _menuService.Get(filter: category => category.ParentItemId > 1, orderBy: category => category.OrderBy(x => x.Name)))
                            {
                                <option value="@category.Id">@category.Name</option>
                            }
                        </select>
                        <input type="text" class="full req" name="ProductName" id="bname" placeholder="Product Name" />
                    </div>
                
                    <div class="varient-detail">
                        <div class="shiztitle2">
                            <h2 class="title h2bg" id="btnAddSku">Variants Detail</h2>
                            <img id="btn-new-varient" src="/images/button.png" />
                            <img id="btn-copy-varient" src="/images/copy_icon.png" />
                            <img id="btn-delete-varient" src="/images/delete_icon_red.png">
                        </div>
                    
                        <div id="skuDiv">
                        </div>
                    </div>
                    <input type="submit" class="mailsubmit" style="float: left;margin-top: 0;" id="btnSkuFormSubmit" />
                </form>
            </div>

        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/custom-mvc/admin.js"></script>
}