@model Shopping.Models.DTO.AttrMasterViewModel

@{
}

@section Styles{
    <link href="~/css/custom-mvc/admin.css" rel="stylesheet" />
}

<div class="container_16 padding50">
    <div class="grid_16">
        <div class="ribbonbig">
            <div class="lijevo">
                <div class="bread"><a href="#">Admin</a>&nbsp;&nbsp;&gt;&nbsp;Specification Attribute</div>
                <div class="bigtitle">Specification Attribute</div>
            </div>
            <div class="desno">
                <a href="#" class="padd">Buy theme</a>
            </div>
        </div>
    </div>
    <div class="grid_8">
        <div class="padding25">
            <div class="billing">
                <div class="shiztitle">
                    <h2 class="title h2bg">Add Specification Attribute</h2>
                </div>
                <select class="half req" name="CategoryId" asp-for="attrModel.CategoryId" id="ddlCategory">
                    <option value="" selected disabled>Sub Category</option>
                    @foreach (var category in Model.menuItems)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>

                <input type="text" class="half" name="Lable" id="attrLable" placeholder="Lable" />

                <select class="half req" name="ComponentType" onchange="showHideTagsInp()" id="ddlComponentType">
                    <option value="" selected disabled>Component Type</option>
                    <option value="Text">Text</option>
                    <option value="Dropdown">Dropdown</option>
                </select>

                <div class="hidden" id="tInputsDiv">
                    <input type="text" class="full" id="tInput" placeholder="Values" />
                </div>

                <span id="attrMasterError" class="fw-normal mb-3 pb-3 text-danger" style="letter-spacing: 0.5px;"></span>
                <input type="button" id="MasterAttrSaveBtn" class="mailsubmit" value="Save" asp-route="model" />
            </div>
            <div class="toast" id="result-toast">
                <div class="toast-body">
                    Data added successfully
                </div>
            </div>
        </div>
    </div>

</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#tInput').AddTags({
                maxTags: 10,
                initialTags: [],
                includeTitle: false
            });

            $('#MasterAttrSaveBtn').click(function (e) {
                e.preventDefault();

                var categoryId = $('#ddlCategory').val();
                var attrLable = $('#attrLable').val();
                var componentType = $('#ddlComponentType').val();
                var tags = JSON.parse($('input[name="AttrsJSON"]').val());

                if (categoryId == "") {
                    $('#attrMasterError').text("Please select the Category");
                    return false;
                }
                if (attrLable == "") {
                    $('#attrMasterError').text("Lable should not be empty");
                    return false;
                }
                if (componentType == "") {
                    $('#attrMasterError').text("Please select the Component Type");
                    return false;
                }
                else if (componentType == "Dropdown") {
                    if (tags.length == "0") {
                        $('#attrMasterError').text("Please enter the values for Component Type");
                        return false;
                    }
                }
                $('#attrMasterError').text("");

                $("#formSpecificaationAttr").submit();

                var data = {
                    CategoryId: categoryId,
                    Lable: attrLable,
                    ComponentType: componentType,
                    Values: tags.join(',')
                };

                $.ajax({
                    url: '/Admin/SpecificationAttribute',
                    type: 'POST',
                    data: data,
                    success: function (response) {
                        $('#result-toast').toast('show');
                    },
                    error: function (xhr, Message) {
                        debugger;
                    }
                });
            });
        });

        function showHideTagsInp() {
            var selected = $('#ddlComponentType').val();
            if (selected == 'Dropdown') {
                $('#tInputsDiv').show();
                $('#result-toast').css('margin-top', '0px');
            } else {
                $('#tInputsDiv').hide();
                $('#result-toast').css('margin-top', '150px');
            }
        }

    </script>
}

