@model Shopping.Models.DTO.RegistrationModel

<div class="container_16 padding50">
    <div class="grid_16">
        <div class="ribbonbig">
            <div class="lijevo">
                <div class="bread"><a href="#">Home</a>&nbsp;&nbsp;&gt;&nbsp;Checkout</div>
                <div class="bigtitle">Checkout</div>
            </div>
            <div class="desno">
                <a href="#" class="padd">Buy theme</a>
            </div>
        </div>
    </div>
    <form asp-action="Register" method="post">
    <div class="grid_8">
        <div class="padding25">
            <div class="billing">
                <div class="shiztitle">
                    <h2 class="title h2bg">Personal Details</h2>
                </div>
                @*<form asp-action="Register" method="post">*@
                   @* <input type="text" class="half req" asp-for="FirstName" id="bname" placeholder="First Name" />
                    <input type="text" class="half" asp-for="LastName" id="blastname" placeholder="Last Name" />
                    <input type="text" class="half" asp-for="FullName" id="blastname" placeholder="Full Name" />
                    <input type="text" class="full" asp-for="Email" id="bcompany" placeholder="E-Mail" />
                    <input type="text" class="half req" asp-for="Telephone" id="bcity" placeholder="Telephone" />*@
               @* </form>*@
                <div class="shiztitle">
                    <h2 class="title h2bg">Account Details</h2>
                </div>
                @*<form asp-action="Register" method="post">*@
                    <input type="text" class="half" asp-for="Name" id="blastname" placeholder="Name" />
                    <input type="text" class="half" asp-for="Email" id="blastname" placeholder="Email" />
                    <input type="text" class="half req" asp-for="Username" id="bname" placeholder="Username" />
                    <input type="text" class="half req" asp-for="Role" id="bname" placeholder="Role" />
                    <input type="text" class="half" asp-for="Password" id="blastname" placeholder="Password" />
                    @* <input type="text" class="half req" asp-for="PasswordConfirm" id="bzip" placeholder="Password Again" /> *@
                    
                    <div class="clear"></div>

                    <input type="submit" class="mailsubmit" style="float: left;margin-top: 0;" value="Register" asp-route="model"/>
               @* </form>*@
            </div>
        </div>
    </div>
    <div class="grid_8">
        <div class="padding25">
            <div class="billing">
                <div class="shiztitle">
                    <h2 class="title h2bg">Your address</h2>
                </div>
           @*     <form asp-action="Register" method="post">*@
                    @*<input type="text" placeholder="Company" id="bcompany" asp-for="Company" class="full">
                    <input type="text" placeholder="Address" id="baddress" asp-for="Address" class="full">
                    <input type="text" placeholder="City" id="bcity" asp-for="City" class="half req">
                    <input type="text" placeholder="Post Code" id="bzip" asp-for="PostCode" class="half">
                    <input type="text" placeholder="Country" id="bcountry" asp-for="Country" class="half req">
                    <input type="text" placeholder="State" id="bstate" asp-for="State" class="half">*@
               @* </form>*@
            </div>
        </div>
    </div>
    </form>
</div>