@{
}

<div class="container_16">
    <div class="grid_16">
        <div class="ribbonbig">
            <div class="lijevo">
                <div class="bread"><a href="#">Home</a>&nbsp;&nbsp;&gt;&nbsp;About</div>
                <div class="bigtitle">About Shopping</div>
            </div>
            <div class="desno">
                <a href="#" class="padd">Buy theme</a>
            </div>
        </div>

    </div>
</div>
<div class="withside">
    <div class="container_16 main2 padding50">
        <div class="grid_11 lefthome">
            <div class="shiztitle">
                <h2 class="title h2bg">About Shopping</h2>
            </div>
            <div class="about">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indusy
                standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesettin industry.
                <br>
                <p>
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                    took a galley of type and scrambled it to make a type specimen book.
                </p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indusy
                standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesettin industry.
                <br>
            </div>
            <div class="clear"></div>

        </div>

        <div class="grid_4 righthome">
            <h2 class="title">Categories</h2><div class="shizzley shizzley3"></div>
            <div class="categorybox">
                <ul>
                    <li><a href="#">Category 1</a></li>
                    <li><a href="#">Adidas shoes</a></li>
                    <li><a href="#">Category 1</a></li>
                    <li><a href="#">Adidas shoes</a></li>
                </ul>
            </div>
            <div class="ads">
                <a href="#"><img alt="ads" src="~/images/ads.png"></a>
            </div>
        </div>

    </div>
</div>